<app-menu [sitename]="title"></app-menu>
<div class="container mt-4">
  <h1>Produits</h1>
  <div class="row">
    <!--
      On parcourt le tableau productList qui est définie dans le composant
      On affiche autant de div qu'on a de produit dans le tableau
    -->
    <div class="col-md-4" *ngFor="let product of productList">
      <div class="card">
        <img class="card-img-top" [src]="product.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p>HT : {{ product.price | currency:'EUR':'symbol':'2.2-2':'fr' }}</p>
          <p>TTC : {{ product.price * 1.2 | currency:'EUR':'symbol':'2.2-2':'fr' }}</p>
          <h5>0</h5>
          <a href="#" class="btn btn-primary btn-block">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
